.radio {
    display: flex;
    flex-direction: column;
    
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    /* flex-direction: column; */
    padding-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}
