.button {
}

.disabled {
    background-color: #004D99;
    opacity: 50%;
    font-size: 20px;
    padding: 10px;

}

.secondary {
    background-color: white;
    font-size: 20px;
    color: #0066CC;
    border: 2px solid #0066CC;
    padding: 10px;
}

.default {
    background-color: #0066CC;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.red {
    background-color: #CC1439;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.default:hover {
    background-color: #0080FF;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.red:hover {
    background-color: #FF1A47;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.secondary:hover {
    background-color: #E5F0FA;
    font-size: 20px;
    color: #0066CC;
    border: 2px solid #0066CC;
    padding: 10px;
}


.default:active {
    background-color: #0059B2;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.secondary:active {
    background-color: #C9E5FF;
    font-size: 20px;
    color: #0066CC;
    border: 2px solid #0066CC;
    padding: 10px;
}

.red:active {
    background-color: #B21232;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.button:disabled {
cursor: default;
}
