.hwTitle {
    padding-left: 40px;
}


.greetingForm {
    padding-left: 70px;
    padding-bottom: 100px;
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
}

.error {
    color: red;
}

.input {
    width: 372px;
    height: 36px;
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
    width: 372px;
    height: 36px;
}

.button {
    background-color: rgb(17, 0, 169);
    opacity: 100%;
    margin-left: 15px;
    width: 78px;
    height: 36px;
    color: white;
}

.button:focus {
}

.button:active {
    background-color: green;
    opacity: 100%;
}

.button:disabled {
    background-color: #0066CC;
    opacity: 50%;

}

.text {
    color: gray;
    padding-top: 20px;
    padding-bottom: 5px;

}

.greeting {
}
